.header{
    background-color: #181818;
    border-bottom-style: solid;
    border-bottom-color: #9f00ff;
    border-bottom-width:3px;
    padding-block: 5px;
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 800px;
}

.link{
    display: flex;
    color: black;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background:#9f00ff;
    box-shadow: black 0px 0px 5px;
    border-radius: 1000px;
    font-size:15px;
    padding-block: 5px;
    padding-inline: 10px;
}

.image{
    height: auto;
    width: 40px;
}
